// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";

// Import Bootstrap
// 18 Columns of the Periodic Table
// $grid-columns: 18;
$sizes: ( 5: 5%,  10: 10%);

$theme-colors: (
    "success": $green,
    "debug": $cyan,
    "info": $teal,
    "warning": $orange,
    "error": $red,
    "critical": $yellow,
    "linemask": #bcbd22,
    "contmask": #d62728,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";

.text-black{
    color: $black !important;
}

@each $color, $value in $theme-colors {
    .log-#{$color} {
        background-color: $value;
        color: $black;
    }
  }

.hover-color{
    cursor: pointer;
    &:hover{
        color: $blue;
    }
}

.no-border {
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

.section-menu {
    cursor: pointer;
    color: $gray-400;
    &:hover{
        color: $gray-800;
    }
}